h1 {
  text-decoration: underline;
}
body {
  background: grey;
}
.links button {
  background: black;
  border: none;
  color: white;
}
.links div {
  display: flex;
  justify-content: space-between;
}
.plas {
  display: flex;
  justify-content: space-between;
}
.la {
  display: flex;
  justify-content: space-between;
}
